<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HATA</title>
</head>
<body>
    <hgroup>
        <h1>HATA</h1>
        <h2>BİR HATAYLA KARŞILAŞILDI!</h2>
    </hgroup>
</body>
</html>
