@{
    ViewBag.Title = "Contact";
}


<address>
    İstanbul<br />
    Beykoz <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Market:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>