
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="hakkımızda">

        <h1>BU PROJEDE KULLANILAN RESİMLERİN LİNKLERİNE AŞAĞIDA YER VERİLMİŞTİR...</h1>

        <hr />

        <a href="https://www.hepsiburada.com/ara?q=ütü">ÜTÜ</a>
        <br />
        <a href="https://www.hepsiburada.com/ara?q=tost+makinesi">TOST MAKİNESİ</a>
        <br />
        <a href="https://www.hepsiburada.com/ara?q=kahve+makinesi>KAHVE MAKİNESİ </a>
        <br />
        <a href="https://www.hepsiburada.com/ara?q=blender">BLENDER</a>
        <br />
        <a href="https://www.hepsiburada.com/ara?q=mikrodalga+fırın">MİKRODALGA FIRIN</a>
        <br />
        <a href="https://www.hepsiburada.com/ara?q=elektrikli+süpürge">ELEKTRİKLİ SÜPÜRGE</a>
        <br />
        <a href="https://www.arzum.com.tr/">ARZUM</a>
        <br />
        <a href="https://www.amazon.com.tr/">AMAZON</a>
    </div>





</body>
</html>
